@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.scrollToTopButton.visible {
  opacity: 1;
}
.primary {
  color: #ff7000;
}
